.App {
  display: flex;
  font-family: sans-serif;
  text-align: center;
  flex-direction: column;
  align-items: center;
  color: #2c3e50;
}

.selected-avatar {
  max-width: 100px;
  margin-bottom: 30px;
  cursor: pointer;
}

.popover-hidden {
  display: none;
}

.popover {
  display: flex;
  opacity: 1;
  transition: opacity 0.5s ease;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.popover::before {
  position: absolute;
  content: "";
  bottom: 100%;
  left: 405;
  border-color: transparent transparent #2c3e50 transparent;
  border-width: 15px;
  border-style: solid;
}

.picker-div {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  row-gap: 30px;
  column-gap: 30px;
  background-color: #2c3e50;
  padding: 30px;
  border-radius: 8px;
  height: 300px;
}

.avatar {
  cursor: pointer;
}

.active-avatar {
  border: 8px solid #3498db;
}

img {
  border-radius: 60px;
  max-width: 100px;
}

.loading-avatar {
  border: 8px solid rgba(52, 152, 219, 0.3);
  border-left: 8px solid #3498db;
  border-bottom: 8px solid #3498db;
  border-radius: 60%;
}
